<md-card>
  <md-card-title>first page issue</md-card-title>
  <md-card-content>
    <p>
      Using back-to-front to check if this component is the first to to be show when transitioning. If so don't show the wait spinner
      and message. (they wil still show is navigation is on the client side)
    </p>
    <p *ngIf="isBrowser && !isFirstLoad">
      Waiting for a slow task...
    </p>
    <md-progress-spinner mode="indeterminate" *ngIf="isBrowser && busy && !isFirstLoad; else response"></md-progress-spinner>
    <ng-template #response>
      <p>
        Slow task has finished and content can be shown.
      </p>
    </ng-template>
  </md-card-content>
</md-card>