<h1>ngx back to front (render location: {{renderLocation}})</h1>
<p>
    Examples of the issues that may occur when creating a seamless transationing from server rendered content to the client side.
    To see the issues below remember to hard reload the page from the server after navigating to it.      
</p>
<ul>
    <li>
        <a [routerLink]="['/state-transfer-issue']">state transfer issue</a>
    </li>
    <li>
        <a [routerLink]="['/first-page-issue']">first page issue</a>
    </li>
    <li>
        <a [routerLink]="['/animation-flicker-issue']">animation flicker issue</a>
    </li>
</ul>
<p>
    Here are the fixes for each issue.
</p>
<ul>
    <li>
        <a [routerLink]="['/state-transfer-fixed']">state transfer fixed</a>
    </li>
    <li>
        <a [routerLink]="['/first-page-fixed']">first page fixed</a>
    </li>
    <li>
        <a [routerLink]="['/animation-flicker-fixed']">animation flicker fixed</a>
    </li>
</ul>
<router-outlet></router-outlet>